.page.about
  %h1 About
  .row
    .col-xs-12.col-sm-6.col-lg-8
      %p These are some of the services we offer:
      %ul
        %li Maintenance Services
        %li Garden Renovations
        %li Grass Cutting
        %li Shrub Pruning &amp; Hedge Cutting
        %li Weed control
        %li Annual Maintenance Schedule
        %li Post &amp; Hangin Baskets
        %li Water Features
        %li Patios
      .image
        %img(src='/images/dandelion.jpg')
    .col-xs-6.col-sm-6.col-lg-4
      %h4 Get a free quotation
      = haml :enquiry_form

