.contact-us
  %h1 Contact Us
  .row
    .col-xs-12.col-sm-6.col-lg-8
      .contact-details
        %p Ph: 086 8274372
        %p Ph: 087 7545965
        %p Email: conor@castlegreylandscapes.com
      .image
        %img(src='/images/water_drop_on_leaf.jpg')
      .image
        %img(src='/images/leaves.jpg')

    .col-xs-6.col-sm-6.col-lg-4
      %h4 Or, fill in an enquiry form and we'll get back to you...
      = haml :enquiry_form
