%div.homepage
  %div.jumbotron
    %h3 Welcome!
    %p Castlegrey Landscapes is a Limerick based company that can offer you a full landscaping and grounds maintenance service for your home or business.
    %h4.offer We offer:
    %table.services
      %tr
        %th.tblleft Maintenance Services
        %th Landscaping Services
      %tr
        %td.tblleft Grass Cutting
        %td Garden renovations
      %tr
        %td.tblleft Shrub Pruning &amp; Hedge Cutting
        %td Tree and Shrub Planting
      %tr
        %td.tblleft Weed control
        %td Water Features
      %tr
        %td.tblleft Annual Maintenance Schedule
        %td Patios
    %div.carousel.slide(id="carousel-example-generic" data-ride='carousel')
      %ol.carousel-indicators
        %li.active(data-target='#carousel-example-generic' data-slide-to='0')
        %li(data-target='#carousel-example-generic' data-slide-to='1')
        %li(data-target='#carousel-example-generic' data-slide-to='2')
      %div.carousel-inner
        %div.item.active
          %img(src="images/homepage_carousel/garden_area.jpeg" alt="Garden Area")
          %div.carousel-caption
            %h3 Garden Area
        %div.item
          %img(src="images/homepage_carousel/patio.jpeg" alt="Patio")
          %div.carousel-caption
            %h3 Patio
        %div.item
          %img(src="images/homepage_carousel/paving.jpeg" alt="Paving")
          %div.carousel-caption
            %h3 Paving
      %a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
        %span.glyphicon.glyphicon-chevron-right
    %p
      %a.btn.btn-primary.btn-lg{ role: "button" }View Portfolio