%div.homepage
  .row
    .col-xs-12.col-sm-6.col-lg-8
      %h3 Welcome to Castlegrey Landscapes...
      %p Castlegrey Landscapes can offer you a full landscaping and grounds maintenance service for your home or business.
      .contact-details
        %p Ph: 086 8274372
        %p Ph: 087 7545965
        %p Email: conor@castlegreylandscapes.com
      .images
        %div.carousel.slide(id="carousel-example-generic" data-ride='carousel')
          %ol.carousel-indicators
            - @images.each_with_index do |image_filename, index|
              %li{ :class => (index == 0) && "active", "data-target" => '#carousel-example-generic', "data-slide-to" => '0' }
          %div.carousel-inner{ role: "listbox"}
            - @images.each_with_index do |image_filename, index|
              %div{:class => (index == 0) ? "item active" : 'item' }
                %img{:src => "images/homepage_carousel/#{image_filename}"}
                %div.carousel-caption
                  /%h5 Optional caption can go here
          %a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
            %span.glyphicon.glyphicon-chevron-right{ "aria-hidden" => "true"}
            %span.sr-only Next
      / %p
      /   %a.btn.btn-success.btn-lg{ type: "button" }View Portfolio
    .col-xs-12.col-sm-6.col-lg-4
      %h4 Get a free quotation
      = haml :enquiry_form

