%div.homepage
  %div.jumbotron
    %h2 Welcome!
    %p Castlegrey Landscapes is a Limerick based company that can offer you a full landscaping and grounds maintenance service for your home or business.
    %h4 We offer:
    %table.services
      %tr
        %th.tblleft Maintenance Services
        %th Landscaping Services
      %tr
        %td.tblleft Grass Cutting
        %td Garden renovations
      %tr
        %td.tblleft Shrub Pruning &amp; Hedge Cutting
        %td Tree and Shrub Planting
      %tr
        %td.tblleft Weed control
        %td Water Features
      %tr
        %td.tblleft Annual Maintenance Schedule
        %td Patios

    %p
      %a.btn.btn-primary.btn-lg{ role: "button" }View Portfolio