%div.homepage
  %div.jumbotron
    %h2 Welcome!
    %p Castlegrey Landscapes is a Limerick based company that can offer you a full landscaping and grounds maintenance service for your home or business.
    %p
      %a.btn.btn-primary.btn-lg{ role: "button" }View Portfolio