!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta(charset="utf-8")
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:name => "Description", :content => @meta_description }
    %title= @title
    %link{rel: 'stylesheet', href: '/stylesheets/bootstrap/css/bootstrap.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/bootstrap/css/bootstrap-responsive.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/layout.css'}
    - if ENV['RACK_ENV'] == 'production'
      %script{ src: "/stylesheets/google_analytics.js"}
  %body
    %div.header.text-center
      %ul.logos
        %li.leaf-image
          %img(src='/images/leaf-logo.jpg')
        %li.logo
          %h1 CASTLEGREY LANDSCAPES
    .menu
      %ul.nav.nav-tabs{ role: "tablist" }
        %li
          %a{ href: "/" } Home
        %li
          %a{ href: "/services" } Services
        / %li
        /   %a{ href: "/contact" } Contact
        %li
          %a{ href: "/portfolio" } Portfolio
    %div.content
      - if flash[:notice]
        .alert.alert-success{:role => "alert"}= "#{flash[:notice]}"
    =yield
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
  %script{ src: "/stylesheets/bootstrap/js/bootstrap.min.js"}
