!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta(charset="utf-8")
    %title Castlegrey Lanscapes
    %link{rel: 'stylesheet', href: '/stylesheets/layout.css'}
  %body
    %div.header
      %div.logo
        %img(src='/images/logo.jpg')
      %div.contact-details
        %p Ph: 086 8274372
        %p Ph: 087 7545965
        %p Email: conor@castlegreylandscapes.com
    =yield