.page.portfolio
  %h1 Portfolio
  .job
    %h4 Sorted someones garden
    .row
      .col-xs-12.col-sm-6.col-lg-8
        .image
          %img(src='/images/jobs/grass_before.jpg')
          %p This was before
      .col-xs-6.col-sm-6.col-lg-4
        .image
          %img(src='/images/jobs/ul_after.jpg')
          %p And this was after
        .image
          %img(src='/images/jobs/grass_laying_after.jpg')
          %p And this was after also
  .job
    %h4 Sorted someone elses garden
    .row
      .col-xs-12.col-sm-6.col-lg-8
        .image
          %img(src='/images/water_drop_on_leaf.jpg')
          %p This was before
          .image
            %img(src='/images/water_drop_on_leaf.jpg')
            %p This was also before
      .col-xs-6.col-sm-6.col-lg-4
        .image
          %img(src='/images/leaves.jpg')
          %p And this was after

