.page.portfolio
  %h1 Portfolio
  .job
    %h4 Synthetic Grass Installation
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/sythetic_grass_before_1.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src => '/images/jobs/sythetic_grass_before_2.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/sythetic_grass_after_1.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/sythetic_grass_after_2.jpg', :class => 'img-responsive'}
          %p
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/grass_before.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/grass_laying_after.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/grass_laying_after_2.jpg', :class => 'img-responsive'}
          %p

  .job
    %h4 Tree Topping
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/tree_topping_before.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src => '/images/jobs/tree_topping_after.jpg', :class => 'img-responsive'}
          %p
  .job
    %h4 Garden Renovation
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/renovation_before.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src => '/images/jobs/renovation_after.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src => '/images/jobs/renovation_after_2.jpg', :class => 'img-responsive'}
          %p
  .job
    %h4 Front Sleeper Garden
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/front_garden_sleeper_before_1.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src => '/images/jobs/front_garden_sleeper_before_2.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/front_garden_sleeper_after_1.jpg', :class => 'img-responsive'}
          %p
      .col-md-4
        .image
          %img{:src =>'/images/jobs/front_garden_sleeper_after_2.jpg', :class => 'img-responsive'}
          %p

