.page.portfolio
  %h1 Portfolio
  .job
    %h4 Sorted someones garden
    .row
      .col-md-4
        .image
          %img{:src => '/images/jobs/grass_before.jpg', :class => 'img-responsive'}
          %p This was before
      .col-md-4
        .image
          %img{:src => '/images/jobs/ul_after.jpg', :class => 'img-responsive'}
          %p And this was after
      .col-md-4
        .image
          %img{:src =>'/images/jobs/grass_laying_after.jpg', :class => 'img-responsive'}
          %p And this was after also
  .job
    %h4 Sorted someone elses garden
    .row
      .col-md-4
        .image
          %img{:src => '/images/water_drop_on_leaf.jpg', :class => 'img-responsive'}
          %p This was before
      .col-md-4
        .image
          %img{:src => '/images/water_drop_on_leaf.jpg', :class => 'img-responsive'}
          %p This was also before
      .col-md-4
        .image
          %img{:src => '/images/leaves.jpg', :class => 'img-responsive'}
          %p And this was after

