.page.servies
  %h1 Services
  .row
    .col-xs-12.col-sm-6
      %p These are some of the services we offer:
      .landscaping
        %h4.offer Landscaping Services
        %ul
          %li Commercial lanscaping
          %li Garden makeovers
          %li Tree and shrub planting
          %li Synthetic grass
          %li Patios & paving
          %li New lawns
          %li Turf lawns supplied and laid
      .maintenance
        %h4.offer Maintenance Services
        %ul
          %li Domestic garden maintenance
          %li Commercial grounds maintenance
          %li Lawn care
          %li Weed control
          %li Annual maintenance contracts
      .image
        %img(src='/images/dandelion.jpg')
    .col-xs-12.col-sm-6
      %h4 Get a free quotation
      = haml :enquiry_form

