.homepage
  padding: 0 3em 3em 3em
  background: white
  h3
    margin: 0 0 25px
  .offer
    display: inline-block
    vertical-align: top
    margin-right: 20px
    margin-top: 5px

  .maintenance
    float: left
    margin-right: 45px
  .landscaping
    ul
      margin-left: 15px
  .images
    margin-top: 5px
    background: white
    padding-top: 15px
    padding-bottom: 25px
    .carousel.slide
      opacity: 1
      margin-top: 15px
      margin-bottom: 15px
      margin-left: auto
      margin-right: auto
      margin-bottom: 10px
      max-width: 640px