.homepage
  margin-left: 18px
  margin-right: 42px
  padding-bottom: 2em
  h1
    opacity: 1
  .services
    margin-bottom: 10px
    th
      text-align: left
      padding: 5px
    .tblleft
      padding-left: 0px
    td
      padding: 5px
    .tblleft
      padding-left: 0px