body
  margin-top: 0
  background-image: url('/images/grass-background.jpg')
  background-repeat: no-repeat
  margin-left: auto
  margin-right: auto
  width: 65%

.header
  margin-top: 2em
  display: block
  padding-right: 32px
  margin-right: auto
  margin-left: auto
  background: white
  padding-left: 25px

.leaf-image
  display: inline-block
  img
    margin-top: 26px
    width: 175px

.logo
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  h1
    font-size: 31.5px
  display: inline-block
  padding-left: 55px
  padding-right: 55px
  margin-top: 1.5em
  vertical-align: bottom

.nav
  border-top: 1px solid #DDD
  margin-top: 25px
ul
  .nav-tabs
  padding-left: 1em
  li
    &:first-child
      padding-left: 29%
  li
    a
      color: black

.content
  margin-top: 3%
  padding-top: 1em
  background: white
  padding: 25px 25px 10px 30px

@import homepage
@import contact_us