body
  margin-top: 0
  background-image: url('/images/grass-background.jpg')
  margin-left: auto
  margin-right: auto
  width: 65%

.header
  margin-top: 2em
  display: inline-block
  width: 781px
  background: white
  padding-left: 51px

.leaf-image
  display: inline-block
  img
    margin-top: 26px
    width: 175px

.logo
  h1
    font-size: 31.5px
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
  display: inline-block
  margin-left: 5px
  padding-top: 1.5em
  padding-left: 10px

.contact-details
  display: inline-block
  vertical-align: top
  margin-top: 14px
  margin-left: 80px
  p
    margin: 0
    color: black

.navbar
  .nav
    border-top: 1px solid #DDD
    width: 88%
    margin-top: 25px
  ul
    .nav-tabs
  padding-left: 1em
  li
    a
      color: black

.content
  padding-top: 1em
  background: #F5F5F5

@import homepage